.tb-form-call-me {

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url("../../assets/images/layout_recomm-tb_0.png");
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        z-index: -1;
    }

    &-box {
        display: flex;
        flex-direction: row;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            @media screen and (max-width: 1023px) {
                width: 100%;
            }

            &-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 23px;

                @media screen and (min-width: 1921px) {
                    gap: 1.1vw;
                }

                @media screen and (max-width: 430px) {
                    padding: 11px;
                }

            }

            &-img {
                width: 100%;


                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.tb-form-call-me-box__item-form {
    width: 100%;

    @media screen and (max-width: 380px) {
        padding: 0 20px;
        box-sizing: border-box;
    }

    &__title {
        max-width: 420px;
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        @include font-size(30px);

        @media screen and (min-width: 1921px) {
            // max-width: 75.8%;
            min-width: 420px;
            max-width: 100%;
            @include vw-font-size(30, 1920, 1);
        }

    }

    &__subtitle {
        max-width: 420px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: regular;
        font-style: italic;
        @include font-size(25px);

        @media screen and (min-width: 1921px) {
            // max-width: 75.8%;
            min-width: 420px;
            max-width: 100%;
            @include vw-font-size(25, 1920, 1);
        }

        p {
            margin: 0;
        }
    }

    label {
        max-width: 420px;
        width: 100%;

        @media screen and (min-width: 1921px) {
            // max-width: 75.8%;
            min-width: 420px;
            max-width: 83.33%;
        }

        @media screen and (max-width: 480px) {
            max-width: 340px;
        }

        .tb-f-name {
            width: 100%;
            height: 60px;
            text-align: center;
            padding: 0 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: regular;
            color: black;
            @include font-size(25px);
            border: none;
            box-sizing: border-box;
            border-radius: 2.5vw;
            -webkit-border-radius: 2.5vw;
            -moz-border-radius: 2.5vw;
            -ms-border-radius: 2.5vw;
            -o-border-radius: 2.5vw;


            @media screen and(min-width: 1921px) {
                height: 3vw;
                @include vw-font-size(25, 1920, 1);
            }

            @media screen and (max-width: 1023px) {
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
            }

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                display: block;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: regular;
                color: black;

                @include font-size(25px);

                @media screen and (min-width: 1921px) {
                    @include vw-font-size(25, 1920, 1);
                }
            }
        }

        .tb-f-mobile {
            display: block;
            width: 100%;
            height: 60px;
            padding: 0 20px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: regular;
            color: black;
            @include font-size(25px);

            border: none;
            box-sizing: border-box;
            border-radius: 2.5vw;
            -webkit-border-radius: 2.5vw;
            -moz-border-radius: 2.5vw;
            -ms-border-radius: 2.5vw;
            -o-border-radius: 2.5vw;

            @media screen and (min-width: 1921px) {
                height: 3vw;
                @include vw-font-size(25, 1920, 1);
            }

            @media screen and (max-width: 1023px) {
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
            }

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                display: block;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: regular;
                color: black;

                @include font-size(25px);

                @media screen and (min-width: 1921px) {
                    @include vw-font-size(25, 1920, 1);
                }
            }
        }

    }

    .confidencial {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 13px;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: regular;
        @include font-size(18px);
        align-items: center;

        @media screen and (min-width: 1921px) {
            @include vw-font-size(18, 1920, 1);
        }

        @media screen and (max-width: 480px) {
            max-width: 340px;
        }

        .tb-checkbox {
            width: 21px;
            height: 21px;

            @media screen and (min-width: 1921px) {
                width: 1.1vw;
                height: 1.1vw;
            }
        }

        a {
            // display: inline-block;
            color: $tb-gold;
        }

        .tb-checkbox-text {
            width: auto;

            @media screen and (max-width: 480px) {
                text-align: left;
            }

            p {
                margin: 0;
            }
        }
    }
}

.tb-form-call-me-box__item.tb-form-call-me-box__item--add-img {
    @media screen and (max-width: 1023px) {
        display: none;
    }
}