.tb-parking {
    &-box {
        &__title {
            margin: 0;
            text-transform: uppercase;
            text-align: center;

            @include font-size(38px);
            color: $tb-gold;
    
            @media screen and(min-width: 1921px) {
                @include vw-font-size(38, 1920, 1);
            }
        }

        &__img {
            width: 100%;
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}