.tb-service {

    .tb-t {
        position: absolute;
        z-index: -1;
        font-family: Times New Roman,Times,serif;
        font-weight: bold;
        color: #b39658;
        left: 10%;
        top: 46%;
        @include font-size(83px);
        text-transform: uppercase;

        @media screen and (min-width: 1921px) {
            @include vw-font-size(83, 1920, 1);
        }

        @media screen and (max-width: 1080px) {
            @include vis_off;
        }
    }

    .tb-b {
        position: absolute;
        z-index: -1;
        font-family: Times New Roman,Times,serif;
        font-weight: bold;
        color: #b3965866;
        left: 63%;
        top: 1%;

        @include font-size(57px);
        text-transform: uppercase;
        @media screen and (min-width: 1921px) {
            @include vw-font-size(57, 1920, 1);
        }

        @media screen and (max-width: 1080px) {
            @include vis_off;
        }
    }

    .tb-s {
        position: absolute;
        z-index: -1;
        font-family: Times New Roman,Times,serif;
        font-weight: bold;
        color: #b3965866;
        right: 10%;
        top: 15%;

        @include font-size(138px);
        text-transform: uppercase;
        
        @media screen and (min-width: 1921px) {
            @include vw-font-size(138, 1920, 1);
        }
        
        @media screen and (max-width: 1080px) {
            @include vis_off;
        }
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        max-height: 856px;
        background: url("../../assets/images/layout-service-tb_3.png");
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        z-index: -1;

        @media screen and (min-width: 1921px) {
            height: 90%;
            min-height: 856px;
            max-height: unset;
            max-height: 100%;
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
        }

        @media screen and (max-width: 1080px) {
            background: none;
        }
    }

    &__flex-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 460px;
        width: 100%;
        gap: 43px;

        @media screen and (min-width: 1921px) {
            max-width: 73.33%;
        }

        @media screen and (max-width: 430px) {
            gap: 13px;
        }
    }
}

.tb-service-box {
    padding: 188px 0 55px;
    box-sizing: border-box;

    @media screen and (max-width: 1080px) {
        padding: 30px 0 60px;
    }
    
    &__block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;

        @media screen and (max-width: 680px) {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: url("../../assets/images/layout-service-tb_0-1.png");
                  background-position-x: 0%;
                  background-position-y: 0%;
                  background-repeat: repeat;
                  background-size: auto;
                background-position: left;
                background-repeat: no-repeat;
                top: 40%;
                background-size: contain;
                left: 0;
            }
        }

        
        &-item:nth-child(1) {
            width: 100%;
            gap: 25px;
            margin: 0 0 55px;
        }

        &-item:nth-child(2) {
            gap: 34px;
        }
        
        &-item:nth-child(4) {
            display: none;
        }

        @media screen and (max-width: 680px) {
            &-item:nth-child(1) {
                order: 2;
                padding: 23px 0 0;
                gap: 43px;
            }

            &-item:nth-child(2) {
                order: 3;
            }

            &-item:nth-child(3) {
                order: 1;
            }

            &-item:nth-child(4) {
                display: block;
                order: 4;
            }
        }


        &-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            width: 50%;

            @media screen and (max-width: 1099px) {
                padding: 0 20px;
                width: calc(50% - 40px);
            }

            @media screen and (max-width: 1080px) {
                padding: 0;
                width: 100%;
                justify-content: center;
            }

            &-title {
                width: 100%;
                margin: 0;
                text-transform: uppercase;
                @include font-size(40px);

                @media screen and (min-width: 1921px) {
                    // font-size: 2vw;
                    @include vw-font-size(40, 1920, 1);
                }
            }

            &-subtitle {
                width: 100%;
                font-family: 'Roboto', sans-serif;

                @include font-size(25px);
                font-style: italic;

                @media screen and (min-width: 1921px) {
                    @include vw-font-size(25, 1920, 1);
                }

                @media screen and (max-width: 520px) {
                    padding: 0 20px;
                }

                p {
                    margin: 0;
                }
            }
        }
    }


    &__button {
        max-width: 460px;
        width: 100%;

        @media screen and (min-width: 1921px) {
            max-width: 73.33%;
        }

        @media screen and (max-width: 1080px) {
            max-width: 100%;
        }

        @media screen and (max-width: 680px) {
            @include vis_off;
        }
    }

    &__text {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        text-align: right;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        @include font-size(21px);

        @media screen and (min-width: 1921px) {
            @include vw-font-size(22, 1920, 1);
        }

        @media screen and (max-width: 1080px) {
            justify-content: center;
            text-align: center;
        }

        @media screen and (max-width: 680px) {
            @include vis_off;
        }

        p {
            margin: 0;
        }


    }

    &__img {
        max-width: 534px;
        width: 100%;
        float: right;

        @media screen and (min-width: 1921px) {
            max-width: 97.102%;
        }

        @media screen and (max-width: 1080px) {
            max-width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 94px;
    width: 100%;

    @media screen and (min-width: 1921px) {
        min-width: 94px;
        max-width: unset;
    }

    &__box {
        position: relative;
        max-width: 94px;
        width: 100%;
        border: 3px solid black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;

        @media screen and (min-width: 1921px) {
            min-width: 94px;
            max-width: 80%;
        }

        &::before {
            content: '';
            padding-top: 100%;
            float: left;
        }

        &-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &-title {
                margin: 0;
                font-family: "Times New Roman";
                @include font-size(40px);
                color: $tb-gold;

                @media screen and (min-width: 1921px) {
                    @include vw-font-size(40, 1920, 1.5);
                }
            }

            span {
                display: block;
                width: 23px;
                height: 4px;
                background: black;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
            }

            &-subtitle {
                margin: 0;
                // @include font-size(16px);
                font-size: 0.9em !important;
                color: $tb-gold;

                @media screen and (min-width: 1921px) {
                    font-size: 1.2vw;
                }
            }
        }
    }

    &__title {
        position: relative;
        margin: 0;
        @include font-size(30px);

        @media screen and (min-width: 1921px) {
            @include vw-font-size(30, 1920, 1.5);
        }

        &::after {
            position: absolute;
            content: 'РУБ';
            width: auto;
            height: auto;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-stretch: condensed;
            @include font-size(16px);
            color: $tb-gold;

            @media screen and (min-width: 1921px) {
                font-size: 1.2vw;
            }
        }
    }
}