.tb-who-do {

}

.tb-who-do-box {
    text-align: center;
    &__title {
        margin: 0;
        @include font-size(36px);
                        
        @media screen and (min-width: 1921px) {
            @include vw-font-size(36, 1920, 1);
        }
    }

    &__img {
        max-width: 1104px;
        width: 100%;
        
        @media screen and (min-width: 1921px) {
            max-width: unset;
        }

        img {
            width: 100%;
            height: auto;

        }
    }

    &__choice {
        a {
            text-transform: uppercase;

            @include font-size(25px);
                        
            @media screen and (min-width: 1921px) {
                @include vw-font-size(25, 1920, 1);
            }
        }
    }

    &__list {

        @include font-size(18px);
                        
        @media screen and (min-width: 1921px) {
            @include vw-font-size(18, 1920, 1);
        }

        ul {
            padding: 0;
            list-style: none;
            
            li {
                
                a {
                   
                    &:focus,
                    &:active,
                    &:visited {
                        color: black;
                    }
                }
            }
        }
    }


}