.tb-yandex-rating {
    margin: 0 0 36px;
    &-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 15px 0 25px;
        border: 3px solid #b39658;
        box-sizing: border-box;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: none;
        }

        @media screen and (max-width: 380px) {
            padding: 0 10px;
            box-sizing: border-box;
        }

        &__img {
            width: 50%;

            @media screen and (max-width: 800px) {
                width: 100%;
            }

            img {
                max-width: 385px;
                display: block;
                width: 100%;
                height: auto;
                margin: 0 auto;

                @media screen and (min-width: 1921px) {
                    max-width: 69.75%;
                    min-width: 385px;
                }
            }
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            @include font-size(27px);

            @media screen and (min-width: 1921px) {
                @include vw-font-size(27, 1920, 1);
            }

            @media screen and (max-width: 800px) {
                width: 100%;
            }
            
            @media screen and (max-width: 680px) {
                font-weight: 400;
            }
        }
    }

    &-figure {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
}