.tb-specials__content_left {
    width: 16.665% !important;
    height: 45vh;
    top: 40vh;
    left: 0.8% !important;
    z-index: 9999;
    transition: all .5s ease-in;
    padding-left: 0 !important;
    position: fixed;

    @media screen and (max-width: 1023px) {
        @include vis_off;
    }

    .tb-specials__title {
        display: flex;
        padding-bottom: 20px;

        .tb-specials__title-num {
            padding-right: 10px;
            font-family: Times New Roman, Times, serif;
            font-weight: 700;
            line-height: .8;
            @include font-size(50px);
    
            @media screen and (min-width: 1921px) {
                @include vw-font-size(50, 1920, 1);
            }
        }
        
        .tb-specials__title-text {
            font-family: Roboto Condensed, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
            padding-top: 3px;
            @include font-size(24px);
    
            @media screen and (min-width: 1921px) {
                @include vw-font-size(24, 1920, 1);
            }
        }
    }
}

.tb-specials__title.active, a.tb-specials__title:hover {
    color: #b39658;
}



// a.specials__title span:first-child {
//     padding-right: 10px;
//     font-size: 36px !important;
//     font-family: Times New Roman, Times, serif;
//     font-weight: 700;
//     line-height: .8;
// }


// a.specials__title span:last-child {
//     font-size: 14px !important;
//     font-family: Roboto Condensed, sans-serif;
//     font-weight: 700;
//     text-transform: uppercase;
//     line-height: 1;
//     padding-top: 3px;
// }