body {
    background: url('../../assets/images/layout-tb.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.tb-main {
    font-family: 'Times New Roman', Times, serif;
}

.tb-wrapper {

    &-service {
        max-width: 1104px;
        margin: 0 auto;

        @media screen and (min-width: 1921px) {
            max-width: 66.66%;
        }

        @media screen and (max-width: 1080px) {
            margin: 20px;
            box-sizing: border-box;
        }
        @media screen and (max-width: 930px) {
            width: 100%;
            margin: 0 auto;
        }
        @media screen and (max-width: 680px) {
            margin: 10px;
            box-sizing: border-box;
        }
    }

    &-effects,
    &-when-do,
    &-certificates,
    &-form-call-me,
    &-recomm,
    &-yandex-rating,
    &-stop-covid19,
    &-cont,
    &-about-mass {
        max-width: 1104px;
        margin: 0 auto;

        @media screen and (min-width: 1921px) {
            max-width: 66.66%;
        }

        @media screen and (max-width: 1080px) {
            margin: 20px;
            box-sizing: border-box;
        }
        @media screen and (max-width: 680px) {
            margin: 10px;
            box-sizing: border-box;
        }

    }

    &-who-do {
        width: 100%;
    }
}